{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}StudyMate{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'notes/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-left">
            <div class="logo-icon">
    <img src="{% static 'notes/Logo.png' %}" alt="StudyMate logo" width="32" height="32">
</div>
            <h1 class="site-title">StudyMate</h1>
        </div>
        
        <div class="header-right">
            <a href="{% url 'notes:add' %}" class="btn-add-note">
                <span class="plus-icon">+</span>
                Add Note
            </a>
        </div>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>IS424 Web Application Development - StudyMate App</p>
    </footer>
</body>
</html>